<h2 style="text-align: center;"mat-dialog-title>Edição de pontos em usuário</h2>
<mat-dialog-content>
    <mat-form-field>
        <mat-label>Selecione a Pessoa</mat-label>
        <mat-select [(ngModel)]="userSelected" (selectionChange)="getUserSelected($event.value)">
            <mat-option *ngFor="let user of users" [value]="user">{{user.name}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field style="margin-top: 10px;">
        <mat-label>Pontuação atual</mat-label>
        <input matInput [(ngModel)]="pointsActual" placeholder="Nome" disabled>
    </mat-form-field>

    <mat-radio-group [(ngModel)]="addPoints">
        <mat-radio-button [value]="true">Adicionar pontos</mat-radio-button>
        <mat-radio-button [value]="false">Remover pontos</mat-radio-button>
    </mat-radio-group>

    <mat-form-field style="margin-top: 10px;">
        <mat-label>Pontos inseridos/removidos</mat-label>
        <input matInput [(ngModel)]="quantityPoints" type="text" [disabled]="!userSelected" (ngModelChange)="calculatePoints()">
    </mat-form-field>

    <mat-form-field style="margin-top: 10px;">
        <mat-label>Pontuação após edição</mat-label>
        <input matInput [(ngModel)]="pointsAfter" type="text" disabled>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close color="warn">Cancelar</button>
    <button mat-button color="primary" (click)="editUser()">Confirmar</button>
</mat-dialog-actions>